<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="card-title ">Списък със служители</h4>
                                <p class="card-category"> Тези които още не са уволнени</p>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block btn-fill add-new" (click)="editProfile()">
                                    Нов служител
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <input matInput (keyup)="filteringCurrent($event.target.value)"
                                       placeholder="Търсене по име, фамилия, длъжност, департамент, локация...">
                            </mat-form-field>
                            <table class="table table-hover">
                                <thead class="text-info">
                                <th>
                                    Име
                                </th>
                                <th>
                                    Фамилия
                                </th>
                                <th>
                                    Длъжност
                                </th>
                                <th>
                                    Заплата
                                </th>
                                <th>
                                    Отпуск
                                </th>
                                <th>
                                    Болнични
                                </th>
                                <th>
                                    Опции
                                </th>
                                </thead>
                                <tbody>
                                <ng-container *ngFor="let employee of employees | searchEmployees: filter_current">
                                    <tr (click)="openProfile(employee)">
                                        <td>{{employee.first_name}}</td>
                                        <td>{{employee.last_name}}</td>
                                        <td>{{employee.position}}</td>
                                        <td  class="text-primary">{{employee.gross_salary}}</td>
                                        <td>отпускк</td>
                                        <td>болничен</td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title mt-0"> Напуснали служители</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <input matInput (keyup)="filteringPast($event.target.value)"
                                       placeholder="Търсене по име, фамилия, длъжност, департамент, локация...">
                            </mat-form-field>
                            <table class="table table-hover">
                                <thead class="text-warning">
                                <th>
                                    Име
                                </th>
                                <th>
                                    Фамилия
                                </th>
                                <th>
                                    Длъжност
                                </th>
                                <th>
                                    Заплата
                                </th>
                                <th>
                                    Локация
                                </th>
                                <th>
                                    Дата
                                </th>
                                <th>
                                    Опции
                                </th>
                                </thead>
                                <tbody>
                                <ng-container *ngFor="let employee of past_employees | searchEmployees: filter_past">
                                    <tr (click)="openProfile(employee)">
                                        <td>{{employee.first_name}}</td>
                                        <td>{{employee.last_name}}</td>
                                        <td>{{employee.position}}</td>
                                        <td  class="text-primary">{{employee.gross_salary}}</td>
                                        <td>{{employee.location}}</td>
                                        <td>{{employee.end}}</td>
                                        <td>
                                            <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
