<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Официални почивни дни
            </mat-panel-title>
            <mat-panel-description>
                Добавяне/Премахване
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> Тук ще ссе сложат официалните празници, когато се пуска отпуск автоматично ще бъдат приспаднати тези дни / вместо ръчно да се попълват в поле дни / </p>
    </mat-expansion-panel>
</mat-accordion>
